<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h3>Tarkemmat tiedot valitsemastasi kyselystä</h3>
	
	<form th:object="${newquiz}" th:action="@{/newquestion}" action="#" method="get">
	
	<input type="hidden" id="id" th:field="*{id}" />
    <input type="hidden" id="title" th:field="*{title}" />
    <input type="hidden" id="desc" th:field="*{desc}" />
	
	<label><b>Kyselyn nimi: </b></label>
	<label th:text="*{title}"></label><br>
	
	<label><b>Kyselyn tarkoitus: </b></label>
	<label th:text="${newquiz.desc}"></label><br>
		
	<label><b>Kysymykset: </b></label>
	
	<table>
	    <tr>
            <th>Num</th>
            <th>Kysymys</th>
            <th>Tekstikenttä</th>
        </tr>  
		<tr th:each="newquestion, stat : ${newquiz.newquestions}">
		    <td th:text="${stat.count}">1</td>  
			<td th:text="${newquestion.kysymys}"></td>
			<td th:text="${newquestion.teksti}"></td>
		</tr>
	</table>
	<input type="submit" value="Lisää uusi kysymys"></input>
	<br><br><br>
	<a href="/kysely">Paluu pääsivulle</a>
	</form>
</body>
</html>