<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uusi Kysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Kysymyksen luonti</h1>
	<div>
		<form th:object="${newquiz}" th:action="@{quizsave}" action="#" method="post">
	
			<label for="kysymys">Kysymys: </label>
			<input type="text" name="kysymys" id="kysymys"/>
			<br>
			<label for="tyyppi">Teksti: </label>
			<input type="radio" name="tyyppi" id=tyyppi/>
			<br>
			<label for="tyyppi">Radio: </label>
			<input type="radio" name="tyyppi" id=tyyppi/>
			<br>
			<label for="tyyppi">Checkbox: </label>
			<input type="radio" name="tyyppi" id=tyyppi/>
			<br>
			<label for="tyyppi">Selection List: </label>
			<input type="radio" name="tyyppi" id=tyyppi/>
			<br><br>
			<label for="kysymys">Vaihtoehto 1: </label>
			<input type="text" name="vaihtoehto1" id="vaihtoehto1"/>
			<br>
			<label for="kysymys">Vaihtoehto 2: </label>
			<input type="text" name="vaihtoehto2" id="vaihtoehto2"/>
			<br>
			<label for="kysymys">Vaihtoehto 3: </label>
			<input type="text" name="vaihtoehto3" id="vaihtoehto3"/>
			<br>
			<label for="kysymys">Vaihtoehto 4: </label>
			<input type="text" name="vaihtoehto4" id="vaihtoehto4"/>
			<br><br>
			<input type="submit" value="Save"></input>
		</form>
	</div>
	<div>
		<h1>Kysely:</h1>
		<div>
			
		</div>
		
		<button>Lisää Kysely</button>
	</div>
</body>
</html>