<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uusi Kysymys</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Kysymyksen luonti</h1>
	<div>
		<form th:object="${newquestion}" th:action="@{questionsave}" action="#" method="post">
		    <input type="hidden" id="newquiz" th:field="*{newquiz}" /> 
	
			<label for="kysymys">Kysymys: </label>
			<input type="text" name="kysymys" id="kysymys"/>
			<br>
			<label for="tyyppi">Teksti: </label>
			<input type="checkbox" name="teksti" id=teksti/>
			<br>
			<br><br>
			<input type="submit" value="Tallenna kysymys"></input>
		</form>
	</div>
</body>
</html>