<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Kysely 1</h1>
    <div>
        <form th:object="${quiz}" th:action="@{save}" action="#" method="post">
        
            <label for="yhtye">Mikä on paras yhtye?</label>
            <input type="text" id="yhtye" th:field="*{yhtye}" />
            <div style="clear: both; display: block; height: 10px;"></div>
            
            <label for="kappale">Mikä on paras musiikkikappale?</label>
            <input type="text" id="kappale" th:field="*{kappale}" />
            <div style="clear: both; display: block; height: 10px;"></div>
            
            <label for="elokuva">Mikä on paras elokuva?</label>
            <input type="text" id="elokuva" th:field="*{elokuva}" />
            <div style="clear: both; display: block; height: 10px;"></div>
            
            <label for="ruoka">Mikä on paras leffa?</label>
            <input type="text" id="ruoka" th:field="*{ruoka}" />
            <div style="clear: both; display: block; height: 10px;"></div>
            
			<label for="urheilulaji">Mikä on paras urheilulaji?</label>
            <input type="text" id="urheilulaji" th:field="*{urheilulaji}" />
            <div style="clear: both; display: block; height: 10px;"></div>
            
            <input type="submit" value="Save"></input>
        </form>
    </div>
</body>
</html>