<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Tämä kysely selvittää ohjelmistoalan suosituimmat työkalut</h1>
    <div>
        <form th:object="${quiztwo}" th:action="@{save2}" action="#" method="post">
        
 
 <p>Mikä seuraavista on paras ohjelmointikieli?</p>
       
<input type="radio" id="koodieditori" name="koodieditori" value="Java"/>
<label for="java">Java</label><br>

<input type="radio" id="koodieditori" name="koodieditori" value="Python"/>
<label for="python">Python</label><br>

<input type="radio" id="koodieditori" name="koodieditori" value="JavaScript"/>
<label for="javascript">JavaScript</label><br>

<input type="radio" id="koodieditori" name="koodieditori" value="C#"/>
<label for="C#">C#</label><br>

<label for ="else">
<input type="radio" id="koodieditori" name="koodieditori" value="Else" />
Jokin muu, mikä?: <input type="text" />
</label>



<p>Mikä seuraavista on paras koodieditori?</p>

<input type="radio" id="ohjelmointikieli" name="ohjelmointikieli" value="Eclipse">
<label for="eclipse">Eclipse</label><br>

<input type="radio" id="ohjelmointikieli" name="ohjelmointikieli" value="VSCode">
<label for="vscode">Visual Studio Code</label><br>

<input type="radio" id="ohjelmointikieli" name="ohjelmointikieli" value="NotePad">
<label for="NotePad">NotePad ++</label><br>

<label for ="else">
<input type="radio" id="ohjelmointikieli" name="ohjelmointikieli" value="Else" />
Jokin muu, mikä?: <input type="text" />
</label>
            
            <div>
            <input type="submit" value="Save"></input>
            </div>
        </form>
    </div>
</body>
</html>