<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<h2>Kysely 2:</h2>
	<div>
	    
	    <table class="table table-striped">
	        <tr>
	        	<th>1) Mikä seuraavista on paras ohjelmointikieli:</th>
	            <th>2) Mikä seuraavista on paras koodieditori:</th>
	        </tr>  
	        <tr th:each = "quiztwo : ${quizestwo}">
	        	<td th:text="${quiztwo.koodieditori}"></td>
	            <td th:text="${quiztwo.ohjelmointikieli}"></td>
	            <td><a th:href="@{/delete2/{id}(id=${quiztwo.id})}" class="btn btn-danger">Delete</a><td>
	        </tr>
	     </table>
	    <div>
    		<a href="/kysely" class="btn btn-primary">Takaisin Pääsivulle</a>
    	</div>
	 </div>
</body>
</html>